<h1>Posts</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				#
			</th>
			<th>
				Date
			</th>
			<th>
				User
			</th>
			<th>
				Text
			</th>
			<th>
			</th>
		</tr>
	</thead>
	<tbody>
	<%# This magic works with the _posts.html.erb file.  Crazy. %>
		<%= render @posts %>
	</tbody>
</table>